.post
  position: relative
  padding-left: 80px

  &:last-child
    padding-bottom: 40px


  .content a
    background: #FFFBCC
    padding: 2px 0;

    // overwrite other hover transition
    &:hover
      color: inherit;
      text-decoration: underline

  hr
    background: #f4f3f3
    border: none
    height: 4px
    width: 70%
    margin: 30px auto

  .date
    top: 3px
    left: -20px
    position: absolute;
    color: #444
    font-size: 16px
    text-align: center
    padding-top: 5px

    span
      display: block

    span:nth-child(1)
      font-size: 18px
      font-weight: 700

#disqus_thread
  border-top: 2px solid #eee
  margin-top: 40px
  padding-top: 40px
