.post
  position: relative
  padding: 0 0 50px 80px

  .date
    left: -41px
    top: -10px
    position: absolute;
    height: 75px
    width: 75px;
    background: white;
    border: 6px solid #eee
    border-radius: 50px
    color: #444
    font-size: 16px
    text-align: center
    padding-top: 5px

    span
      display: block

    span:nth-child(1)
      font-size: 34px
      font-weight: 700
