body
  color: #444;
  background: #fefe

#wrapper
  min-height: 100%
  height: auto
  width: 960px
  margin: 0 auto

#head
  margin-top: 20px
  margin-bottom: 60px
  width: 100%
  position: relative

#logo
  float: left
  display: block;
  font-size: 36px
  font-weight: 200
  padding-top: 50px
  padding-left: 45px

#links
  float: right;
  font-size: 18px
  font-weight: 200
  margin-top: 56px

  a
    margin: 0 5px
    display: inline-block
    position: relative
    color: #999
    padding: 5px 10px
    transition: border-color .25s ease-in-out,
                color .25s ease-in-out,
                top .25s ease-in-out

  a:hover
    color: #01B0F0
    border-color: #01B0F0

  &:last-child
    margin-right: 0

#content
  clear: both;
  margin: 0 115px;


iframe
  margin-left: -40px
  width: 800px
  height: 300px
  border: 1px solid #ccc
  margin-bottom: 1.25em



/**
 * Media queries
 */

// Smaller than standard 960 (devices and browsers)
@media only screen and (max-width: 959px)
  #wrapper
    width: 700px

  .title
    padding-top: 8px;
    font-size: 30px;

  iframe
    width: 540px

// Tablet Portrait size to standard 960 (devices and browsers)
// @media only screen and (min-width: 768px) and (max-width: 959px)

// All Mobile Sizes (devices and browser)
@media only screen and (max-width: 767px)
  #wrapper
    width: 100%

  iframe
    margin-left: 0
    width: 100%

  #head
    margin-bottom: 20px

  #logo, #links
    text-align: center
    float: none

  #logo
    padding-left: 0
    padding-top: 20px

  #links
    margin-top: 20px
    text-align: center

  .title
    font-size: 24px

  #content
    margin: 0

    .date
      display: none

    article
      padding: 10px


// Mobile Landscape Size to Tablet Portrait (devices and browsers)
// @media only screen and (min-width: 480px) and (max-width: 767px)


// Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
// @media only screen and (max-width: 479px) {}
