doctype 5
html
  head
    title Matthew Mueller
    block styles
      link(rel='stylesheet', href='/build.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic')
  body
    #wrapper
      block content


    //- #jellyfish
    //- .wrapper
    //-   #top
    //-     h2#header Matthew Mueller
    //-     #tray
    //-       a.lsf(href='#') mail
    //-       a.lsf(href='#') github
    //-       a.lsf(href='#') twitter
    //-       a.lsf(href='#') feed
    //- hr

    //- .wrapper
    //-   #posts
    //-     - each p in posts
    //-       mixin post(p)

    //- block scripts
    //-   script(src="/build.js")
