doctype 5
html
  head
    title Matthew Mueller

    //- Meta
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")

    //- Favicon
    link(rel="shortcut icon", href="/favicon.png")

    //- RSS
    link(rel="alternate", type="application/rss+xml", title="RSS 2.0", href="http://mat.io/rss")

    //- Authorship
    link(rel="author", href="https://plus.google.com/113710016286145697745/posts")

    //- http://support.google.com/webmasters/bin/answer.py?hl=en&answer=139394
    link(rel="canonical", href="http://mat.io")

    block styles
      link(rel='stylesheet', href='/build.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic')
  body
    #wrapper
      #head.clearfix
        a#logo(href='/')
        #links
          a#mail mail
          a(href='http://github.com/matthewmueller', target='_blank') github
          a(href='http://twitter.com/mattmueller', target='_blank') twitter
          a(href='/rss') feed
      #content
        block content
    block scripts
      script(src='/build.js')
      script require('layout')
