#head
  width: 100%
  height: 250px
  padding: 10px
  position: relative

#logo
  background: url('images/logo.png') center no-repeat
  background-size: contain;
  // width: 294px
  // height: 197px
  width: 250px
  height: 250px
  display: block
  margin-left: -125px

#links
  font: 18px 'Source Sans Pro'
  font-weight: 200
  position: absolute
  top: 103px
  right: 0

  a
    margin: 0 5px
    display: inline-block
    position: relative
    color: #999
    // border: 3px solid #ddd
    padding: 5px 10px
    transition: border-color .25s ease-in-out,
                color .25s ease-in-out,
                top .25s ease-in-out

  a:hover
    color: #01B0F0
    border-color: #01B0F0

  &:last-child
    margin-right: 0
