#head
  margin-top: 20px
  width: 100%
  padding: 8px
  position: relative

#logo
  background: url('images/logo.png') center no-repeat
  width: 250px
  height: 167px
  display: block
  margin-left: -125px

#links
  font: 18px 'Source Sans Pro'
  font-weight: 200
  position: absolute
  top: 58px
  right: 0

  a
    margin: 0 5px
    display: inline-block
    position: relative
    color: #999
    padding: 5px 10px
    transition: border-color .25s ease-in-out,
                color .25s ease-in-out,
                top .25s ease-in-out

  a:hover
    color: #01B0F0
    border-color: #01B0F0

  &:last-child
    margin-right: 0
