#head
  a#logo(href='/')
  #links
    a.lsf(href='mailto:mattmuelle@gmail.com') mail
    a.lsf(href='http://github.com/matthewmueller', target='_blank') github
    a.lsf(href='http://twitter.com/mattmueller', target='_blank') twitter
    a.lsf.rss(href='/rss') feed
