#head
  a#logo(href='/')
  #links
    a#mail mail
    a(href='http://github.com/matthewmueller', target='_blank') github
    a(href='http://twitter.com/mattmueller', target='_blank') twitter
    a(href='/rss') feed
