p.short
  color: #777

.ellipsis
  font-size: 20px
  width: 40px
  border-radius: 3px
  background: #eee
  line-height: 20px
  padding: 0 5px
  padding-bottom: 2px
  color: white
  text-align: center
  display: block
  margin: 20px auto 0 auto
  transition: background .25s ease-in-out,
              color .25s ease-in-out

  &:hover
    background: #01B0F0
    color: #fff


