extends ../layout/layout

block content
  - each post in posts
    article.post
      h1.title
        a(href='/#{post.slug}') !{post.title}
      .date !{post.created_at}
      .content !{post.content}



